{% extends 'alumno/base.html.twig' %}

{% block title %}Hello AlumnoController!{% endblock %}
{% block stylesheets %}
    {{ parent() }} {# Esto asegura que se incluyan los estilos del bloque 'stylesheets' de la plantilla base #}
    <link rel="stylesheet" href="{{ asset('css/Registro.css') }}">
{% endblock %}

{% block body %}
    <br>
    <br>
    {{ form_start(form, {'attr': {'class': 'login-form'}}) }}
        {{ form_widget(form) }}
        <button type="submit">Enviar</button>
    {{ form_end(form) }}
{% endblock %}
